<div class="index-container">
  <h1>Naps available</h1>
  <div class="searchbar">
    <form>
      <div class="form-row">
        <div class="col-4">
          <input type="text" class="form-control" placeholder="Address">
        </div>
        <div class="col-3">
          <input type="date" class="form-control" placeholder="From">
        </div>
        <div class="col-3">
          <input type="date" class="form-control" placeholder="Till">
        </div>
        <div class="col-2">
          <input type="submit" class="btn btn-outline-secondary rounded" value="Search">
        </div>
      </div>
    </form>
  </div>
  <div class="filterbar">
    <div class="btn-group">
      <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Price
      </button>
      <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category
      </button>
      <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Location
      </button>
      <button class="btn btn-secondary btn-sm">Other</button>


    </div>
  </div>

  <div class="row">
    <div class="col-8 results-wrapper">
      <div class='results'>
        <% @listings.each do |listing| %>
        <%= link_to listing_path(listing) do %>
        <div class="card-product">
          <%= cl_image_tag listing.photo, crop: :fill, alt: listing.title %>

          <div class="card-product-infos p-2">
            <div class='d-flex justify-content-between'>
              <h2><%= listing.title %></h2>

              <!-- RATING -->
              <% if listing.reviews.empty? %>
              <div class='stars'>
                <% 5.times do %>
                <i class="far fa-star"></i>
                <% end %>
              </div>
              <% else %>
              <div class='stars'>
                <% ratings = listing.reviews.map(&:rating) %>
                <% @avg_rating = (ratings.sum / ratings.length) %></p>
                <% @avg_rating.times do %>
                <i class="fas fa-star"></i>
                <% end %>
                <% (5 - @avg_rating).times do %>
                <i class="far fa-star"></i>
                <% end %>
              </div>
              <% end %>
            </div>

            <p><%= listing.category %></p>
            <p><%= listing.address %></p>
            <p><em>Extra option</em></p>
            <p><strong><%= listing.price %>$</strong></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-4 map-wrapper">

      <div id="map"
           style="height: 38rem;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>
  </div>
</div>
