<div class="index-container">
  <h1>Naps available</h1>
  <%= simple_form_for :search, url: listings_path, method: "GET" do |f| %>
<div class="search-form-listings">
    <%= f.input :address, placeholder: 'Address', label: false %>
    <%= f.submit "Search Again", class: "btn btn-secondary" %>
</div>
<% end %>

    <div class="d-flex">
      <%= simple_form_for :search, url: listings_path, method: "GET" do |f| %>
      <div class="search-form-listings-category">
      <%= f.input :category, collection: Listing::CATEGORIES, :input_html => { :class => "select2" }, label: false%>

      <%= f.submit "Search By Category", class: "btn btn-secondary" %>
      </div>
      <% end %>

    </div>

  <div class="row">
    <div class="col-8 results-wrapper">
      <div class='results'>
        <% @listings.each do |listing| %>
        <%= link_to listing_path(listing) do %>
        <div class="card-product">
          <%= cl_image_tag listing.photo, crop: :fill, alt: listing.title %>

          <div class="card-product-infos p-2">
            <div class='d-flex justify-content-between'>
              <h2><%= listing.title %></h2>

              <!-- RATING -->
              <% if listing.reviews.empty? %>
              <div class='stars'>
                <% 5.times do %>
                <i class="far fa-star"></i>
                <% end %>
              </div>
              <% else %>
              <div class='stars'>
                <% ratings = listing.reviews.map(&:rating) %>
                <% @avg_rating = (ratings.sum / ratings.length) %></p>
                <% @avg_rating.times do %>
                <i class="fas fa-star"></i>
                <% end %>
                <% (5 - @avg_rating).times do %>
                <i class="far fa-star"></i>
                <% end %>
              </div>
              <% end %>
            </div>

            <p><%= listing.category %></p>
            <p><%= listing.address %></p>
            <p><em>Extra option</em></p>
            <p><strong><%= listing.price %>$</strong></p>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-4 map-wrapper">

      <div id="map"
           style="height: 38rem;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    </div>
  </div>
</div>
