<div class="container">
  <h1>Create a New Listing</h1>
  <div class="row">
    <div class="col-8">
      <%= simple_form_for [@listing] do |f| %>
      <%= f.input :title %>
      <%= f.input :category, collection: ['couch', 'yoga mat', 'tent'], :input_html => { :class => "select2" } %>
      <%= f.input :address %>
      <%= f.input :price %>
      <%= f.input :description %>
    </div>
    <div class="col-4">
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
  </div>
  <div class="row">
    <%= f.submit "New Listing", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
