<div class="d-flex">

<div>
<div class="container">
  <div class="header">
  </div>
  <div class="image">
    <%= cl_image_tag @listing.photo,height: 200, crop: :fill, class: "card-img-top rounded" %>
  </div>
</div>
<div class="d-flex">
  <h1><%= @listing.title %></h1>
</div>
<div class="content">
  <div class="d-flex align-items-center">
    <h2 class="mb-0">Rating:</h2>
    <% 5.times do %>
    <p class="mb-0"><i class="fas fa-star"></i></p>
    <% end %>
  </div>
  <p><%= @listing.category %></p>
  <p><%= @listing.price %></p>
  <p><%= @listing.address %></p>
</div>
<div class="description">
  <p>
    <%= @listing.description %>
  </p>
</div>

</div>
<div class="container mt-5">
  <%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.input :date %>
  <%= f.input :message, placeholder: "Can't wait to nap on your couch!"%>
  <%= f.input :duration, placeholder: "1.5" %>
  <%= f.submit "Nap Here!", class: "btn btn-primary btn-block" %>
<% end %>
</div>

</div>
