<div class="container">
  <div class="header">
    <h1><%= @listing.title %></h1>
  </div>
  <div class="image">
    <%= image_tag "https://images.unsplash.com/photo-1540991825428-5b54b09f7338?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1197&q=80", alt: "alttext" %>
  </div>
  <div class="content">
    <p><%= @listing.category %></p>
    <p><%= @listing.price %></p>
    <p><%= @listing.address %></p>
  </div>
</div>
