<div class="show-container">
  <div class="row">
    <div class="col-9 listing-wrapper mt-5">
      <div class="row listing-card mb-5">
        <div class="col-6 img-layout">
          <div class="row mb-2">
            <%= cl_image_tag @listing.photo, crop: :fill, class: 'big-img' %>
          </div>

        </div>
        <div class='col-6 content'>
          <div class="user-corner">
           <%= cl_image_tag @listing.user.photo, class: "avatar" %>
         </div>
         <h2><%= @listing.title %></h2>
         <div class="details">

          <!-- Ratings -->

          <% if @listing.reviews.empty? %>
          <div class='stars'>
            <% 5.times do %>
            <i class="far fa-star"></i>
            <% end %>
          </div>
          <% else %>
          <% ratings = @listing.reviews.map(&:rating) %>
          <% @avg_rating = (ratings.sum / ratings.length) %></p>
          <div class='stars'>
            <% @avg_rating.times do %>
            <i class="fas fa-star"></i>
            <% end %>
            <% (5 - @avg_rating).times do %>
            <i class="far fa-star"></i>
            <% end %>
          </div>
          <% end %>
          <!-- Ratings end -->

          <p class='category'><%= @listing.category %></p>
          <p><em><%= @listing.address %></em></p>
        </div>
        <div class="description">
          <p>
            <%= @listing.description %>
          </p>
        </div>
      </div>
    </div>

    <div class="container">


      <!-- Map -->
      <div class="row map-row">
        <div class="col-4 addons">
          <h4>Add-ons:</h4>
          <div>
            <img src="https://cdn2.iconfinder.com/data/icons/food-drink-10/24/food-drink-36-512.png" alt="meal" style="filter: invert(1);"> meal
          </div>
          <div>
            <img src="https://cdn2.iconfinder.com/data/icons/doing-housework-part-1/64/house-03-512.png" alt="pillow" style="filter: invert(1);"> pillow
          </div>
          <div>
            <img src="https://cdn3.iconfinder.com/data/icons/solid-locations-icon-set/64/Massage_therapist_2-512.png" alt="" style="filter: invert(1);"> massage
          </div>
          <div>
            <img src="https://image.flaticon.com/icons/svg/2064/2064847.svg" alt="" style="filter: invert(1);"> puppy
          </div>
        </div>
        <div class="col-8 map-show">
          <div id="map"
          style="height: 300px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
    <!-- Map End -->

    <!-- Reviews -->
    <div class="reviews" id="reviews">
      <%= render 'reviews/show', listing: @listing %>
    </div>

    <!-- Reviews End -->
    <!-- Create Review Form -->
    <div class="container" id="new_review">
      <%= render 'reviews/form', listing: @listing, review: @review %>
    </div>

    <!-- End -->
  </div>
</div>
<!-- Booking Form -->
<div class="col-3 booking-form-wrapper">
  <div class="booking-form">
    <h3>$
      <span id='hourPrice'><%= @listing.price %></span>
      <span>per hour</span>
    </h3>
    <%= simple_form_for [@listing, @booking] do |f| %>
    <%= f.input :date, placeholder: Date.today, as: :string, input_html: {class: "datepicker" } %>
    <span id='quantity'>
      <%= f.input :duration, label: 'Duration (hours)'.html_safe, input_html: { min: '0.5', step: '0.5' }, placeholder: "1.0" %>
    </span>
    <%= f.input :message, placeholder: "Can't wait to nap on your couch!"%>
    <div class='d-flex justify-content-between px-4'>
      <p>Total price:</p> <span id='totalPrice'>$<%= @listing.price %></span>
    </div>
    <%= f.submit "Request Nap!", class: "btn btn-primary btn-block btn-custom", id: "new-booking-button", style: "position: absolute; top: -1000px;" %>
    <% end %>
    <button id="new-booking-request-alert" class="btn btn-primary btn-block btn-custom">Request Booking!</button>
  </div>
</div>


</div>

<!-- End -->
</div>
</div>

