<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://ak7.picdn.net/shutterstock/videos/14191517/thumb/1.jpg);">
  <div class="container">
    <h1 class="d-flex justify-content-around mb-5">Take a nap at</h1>
    <h3><%= render "form", listing: @new_listing %></h3>
  </div>
</div>
<div class="container">
  <h3 class="mt-2 mb-3 border-top border-bottom">Featured naps nearby: </h3>
  <div class="row">
    <% @listings.each do |listing| %>
    <div class="col-3">
      <div class="card m-2 shadow-sm" style="width: 16rem;">
        <img src="https://pixfeeds.com/images/sleep/pillows/1200-488664889-boy-sleeping-on-couch.jpg" class="card-img-top" alt="Image">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end">
            <div>
              <h3 class="card-title border-bottom"><%= listing.title %></h3>
              <p class="card-text"><%= listing.category.capitalize %></p>
              <p class="card-text"><%= listing.address %></p>
            </div>
            <p class="card-text">$<%= listing.price %></p>
          </div>
          <%= link_to "Go to Listing", listing_path(listing), class: "btn btn-primary btn-block mt-2" %>
        </div>
      </div>

    </div>
    <% end %>
  </div>
</div>


